.loading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(55,55,55,.6);
  .modal-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      font-size: 48px;
      color: #ffffff;
    }
  }
}